<div class="container">
    
<H1> All Products </H1>

<%= link_to 'Add Product', new_product_path, class:'btn btn-default'  %>

<% @products.each do |item| %>
    <p> <%= link_to item.name, product_path(item.id) %> </p>
<% end  %>
</div>
